html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* interaction */
.hide {
    display: none;
}

.flex {
    display: flex;
}

#title-div {
    height: 100%;
    align-items: center;
    justify-content: center;
}

#title-div-2 {
    background-color:rgba(214, 229, 255, 0.9);
    padding: 2%;
    width: 50%;
    height: 50%;
}

#title {
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#story {
    /* width: 100%;
    height: 100%; */
    text-align: center;
}

#explanation {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    padding: 2%;
}

#image {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    transform: translate(-50%,-50%);
}
/* line chart */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 2;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}

/* graph */
.node-tooltip {
    border-radius: 3px;
    padding: 3px;
    font-family: 'Lato', sans-serif;
}

/* map */
.states :hover {
    fill: #e5921f;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}
.feature.active {
    fill: orange;
}
.feature {
    fill: #ccc;
    cursor:pointer;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: pointer;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}
.toolTip {
    position: absolute;
    display: none;
    z-index: 1;
    min-width: 80px;
    max-width: 250px;
    height: auto;
    background: rgb(255, 255, 255);
    text-align: center;
    border:2px black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}